@import "tailwindcss";

@layer utilities {
  .slim-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  .slim-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .slim-scrollbar::-webkit-scrollbar-thumb {
    background: #e2e8f0;
    border-radius: 10px;
  }
  .slim-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #cbd5e1;
  }
}
